@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-container">
    <div class="hero-content">

        <div class="status-badge">
            <span class="dot"></span>
            <span class="hero-subtitle">Strong Body, Strong Mind.</span>
        </div>

        <h1 class="hero-title">Build Strength Boost <br /> Confidence Today!</h1>
        <p class="hero-text">
            Begin your fitness journey with expert trainers, modern equipment, <br />
            and a supportive environment designed to help you build streangth and confidence.
        </p>

        <div class="hero-features-icons">
            <span>
                <img src="/images/pil-hero.svg" class="feature-icon" />
                Transform your body with training
            </span>

            <span>
                <img src="/images/pil-hero.svg" class="feature-icon" />
                Personal training for real results
            </span>

            <span>
                <img src="/images/pil-hero.svg" class="feature-icon" />
                Build confidence through fitness</span>


                <span>
                    <img src="/images/pil-hero.svg" class="feature-icon" />
                    Fitness tailored to your goals</span>
                </div>


                <hr class="separator-line">


                <div class="hero-getstarted-buttons">
                    <a href="#" class="btn-gym-getstarted">Get Started ></a>
                </div>


            </div>
        </section>

        <section class="logo-bar">
            <div class="logo-item">
                <img src="~/images/company-supports-logo-one.svg" alt="Support Logo" />

            </div>
            <div class="logo-item">
                <img src="~/images/company-supports-logo-two.svg" alt="Support Logo" />
            </div>

            <div class="logo-item">
                <img src="~/images/company-supports-logo-three.svg" alt="Support Logo" />
            </div>

            <div class="logo-item">
                <img src="~/images/company-supports-logo-four.svg" alt="Support Logo" />

            </div>

            <div class="logo-item">
                <img src="~/images/company-supports-logo-five.svg" alt="Support Logo" />
            </div>


            <div class="logo-item-accent">Modern Equipment</div>
        </section>


        <section class=" about-section">
            <div class="about-container">



                <div class="about-images">
                    <div class="image-wrapper skew-1">
                        <img src="/images/left-column-about.svg" alt="Gym training">
                    </div>

                    <div class="pattern-dots"></div>
                </div>

                <div class="about-content">

                    <span class="badge-about">

                        <span class="dot"></span>About Us
                    </span>
                    <h2>Elevating Fitness Journey with Expert Guidance</h2>
                    <p>
                        We support every stage of your fitness journey with certified trainers,
                        personalized programs and proven methods designed to help you train safely,
                        build strength.
                    </p>


                    <div class="mission-box">
                        <p">
                            "Our mission is to transform lives by combining expert guidance,
                            powerful training programs, and a motivating community that helps
                            you grow stronger every day."
                            </p>
                            </div>
                            </div>
                            </div>

                            </section>




                            <section class="programs-section">
                            <div class="programs-container">
                            <div class="programs-header text-center">
                            <span class="badge-about-programs">
                            <span class="dot"></span> Our Programs
                            </span>
                            <h2 class="section-title">Professional training program <br> for stronger health</h2>
                            </div>

                            <div class="programs-grid">
                            <div class="programs-card">
                            <img src="/images/programs-image-one.svg" alt="Battle ropes training">
                        </div>

                        <div class="programs-card">
                            <img src="/images/programs-image-two.svg" alt="Gym Equipment" />
                        </div>

                        <div class="programs-card">
                            <img src="/images/programs-image-three.svg" alt="Weightlifting" />
                        </div>

                    </div>
                </div>

                <div class="programs-footer text-center">
                    <p>Let's make something great work together.<a href="#" style="margin-left: 5px;">Get Free Quote</a></p>
                </div>
            </section>



            <section class="store-section">
                <div class="store-container text-center">
                    <div class="store-header">
                        <span class="badge-about-store">
                            <span class="dot"></span> Our Store
                        </span>
                        <h2 class="store-section-title">High quality fitness products <br> built for results</h2>
                    </div>

                    <div class="store-grid">
                        <div class="store-product-card">
                            <img src="/images/store-image-dumbbell.svg" alt="Dumbbell">
                        </div>
                        <div class="store-product-card">
                            <img src="/images/store-image-bag.svg" alt="Gym bag">
                        </div>
                        <div class="store-product-card">
                            <img src="/images/store-image-watch.svg" alt="Fitness tracker">
                        </div>
                        <div class="store-product-card">
                            <img src="/images/store-image-treadmill.svg" alt="Treadmill">
                        </div>
                    </div>

                    <div class="store-footer">
                        <p>Let's make something great work together. <a href="#">Get Free Quote</a></p>
                    </div>
                </div>
            </section>