@{
    ViewData["Title"] = "Home Page";
}

<section class="hero-container">
    <div class="hero-content">

        <div class="status-badge">
            <span class="dot"></span>
            <span class="hero-subtitle">Strong Body, Strong Mind.</span>
        </div>

        <h1 class="text-red-500 font-bold">Build Strength Boost <br /> Confidence Today!</h1>
        <p class="hero-text">
            Begin your fitness journey with expert trainers, modern equipment, <br />
            and a supportive environment designed to help you build streangth and confidence.
        </p>

        <div class="hero-buttons">
            <a href="#" class="btn-gym">Get Started ></a>
        </div>

        <div class="hero-features">
            <span>✔ Transform your body with training</span>
            <span>✔ Personal training for real results</span>
            <span>✔ Build confidence through fitness</span>
            <span>✔ Fitness tailored to your goals</span>
        </div>
    </div>
</section>

<section class="logo-bar">
    <div class="logo-item">
        <img src="~/images/company-supports-logo-one.svg" alt="Support Logo" />

    </div>
    <div class="logo-item">
        <img src="~/images/company-supports-logo-two.svg" alt="Support Logo" />
    </div>

    <div class="logo-item">
        <img src="~/images/company-supports-logo-three.svg" alt="Support Logo" />
    </div>

    <div class="logo-item">
        <img src="~/images/company-supports-logo-four.svg" alt="Support Logo" />

    </div>

    <div class="logo-item">
        <img src="~/images/company-supports-logo-five.svg" alt="Support Logo" />
    </div>


    <div class="logo-item-accent">Modern Equipment</div>
</section>