@model CreateClientFormModel

@{
    ViewData["Title"] = "Add Client";
}

<div id="add-client class= "surface">
    <form asp-action="Create" method="post" enctype="multipart/form-data" novalidate>

        <header>
           <h3>ViewData["Title"]</h3>
           <button class="btn  btn-close" ><i class="fa-solid fa-xmark"></i> </button>
        </header>

          <div class="image-preview-container">
              <div class="icon-circle circle-gray">

                  <i class="fa-duotone fa-solid fa-camera"></i>
              </div>
          </div>


        <div class="form-group">
            <label asp-for="FirstName"></label>
            <div class="field-group">
                <input asp-for="FirstName">
                <span asp-validation-for="FirstName"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="LastName"></label>
            <div class="field-group">
                <input asp-for="LastName">
                <span asp-validation-for="LastName"></span>
            </div>
            </div>


            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="field-group">
                    <input asp-for="Email">
                    <span asp-validation-for="Email"></span>
            </div>
            </div>


        <div class="form-group"">
            <label asp-for="PhoneNumber"></label>
            <div class="field-group">
                <input asp-for="PhoneNumber">
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            </div>


            <footer>

                               <button type="submit" class="btn btn-primary">Save 
                                   <i class="fa-solid fa-chevron-right"></i></button>
            </footer>
    </form>

</div>


        @await Html.PartialAsync("_ValidationScripts")  