
@using CoreFitness.Domain.Identity
@using Microsoft.AspNetCore.Identity


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



<ul class="navbar-nav">
    @* Detta visas när du är inloggad *@



    

        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index">Hej @User.Identity?.Name!</a>
        </li>
    }
    else
    {
        @* Detta visas när du är utloggad *@
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>            
    

</ul>
