@using CoreFitness.Domain.Entities
@using CoreFitness.Domain.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreFitness.Web</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script type="importmap"></script>
  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="/CoreFitness.Web.styles.css" asp-append-version="true" />
</head>



<body class="@ViewData["BodyClass"]">



    <div class="app-layout">

        <header>

            @* Här anropas din Header-partial från din Shared/Partials-mapp *@
            <partial name="Partials/_HeaderSection" />

            @if (IsSectionDefined("Hero"))
            {
                @await RenderSectionAsync("Hero")
            }

        </header>
        </div>




        <main role="main">
            
            @RenderBody()
       
        </main>



    <partial name="Partials/_FooterSection" />




        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

       

    </body>

</html>