@using Infrastructure.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoreFitness.Web</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script type="importmap"></script>
  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="/CoreFitness.Web.styles.css" asp-append-version="true" />
</head>



<body class="@ViewData["BodyClass"]">



    <div class="app-layout">

        <header>

            @* Här anropas din Header-partial från din Shared/Partials-mapp *@
            <partial name="Partials/_HeaderSection" />

            @if (IsSectionDefined("Hero"))
            {
                @await RenderSectionAsync("Hero")
            }

        </header>
        </div>




        <main role="main">
            
            @RenderBody()
       
        </main>





  

    <section class="footer-sectionen">
        <footer class="main-footer">
            <div class="footer-container">
                <div class="footer-top">
                    <div class="footer-logo">
                        <img src="~/images/logotype-core-footer.svg" alt="" style=width: 180px; height: auto; display: block; />
                        
                    </div>
                    <div class="footer-motto">
                        <h3>Empowering Your Fitness Journey with Expert<br> Training and Lasting Results</h3>
                    </div>
                </div>

                <hr class="footer-divider">

                <div class="footer-content">
                    <div class="footer-column location">
                       
                        <h4>Our Location</h4>
                        <p>Our supportive and knowledgeable trainers work
                            <br /> with members to provide encouragement.</p>
                        <div class="address-info">
                            <img src="/images/footer-location-map.svg" alt="Map">
                            <span>2nd Floor, Wellness Center, Drottninggatan 118, Stockholm</span>
                        </div>
                    </div>

                    <div class="footer-column hours">
                        <div class="hour-group">
                            <h4>Working Hours</h4>
                            <p>Mon – Fri: 06:00 – 18:00</p>
                            <p>Saturday: 10:00 – 18:00</p>
                        </div>
                        <div class="hour-group">
                            <h4>Opening Hours</h4>
                            <p>Mon – Sun: 04:00 – 23:00</p>
                        </div>
                    </div>
                </div>

                <hr class="footer-divider-down">

                <div class="footer-bottom">
                    <p>&copy; 2026 Core Fitness Group. All Rights Reserved.</p>
                </div>
            </div>
        </footer>
    </section>




        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)

       

    </body>

</html>