@model CreateClientFormModel

<section class="customer-service-section">
    <h2 class="customerservice-main-title">Customer Service</h2>

    <div class="container-customerservice">



        <div class="service-left">
            <div class="cs-contact-card">



                <img src="/images/contact-women-customservice.svg" alt="Contact GymPro" class="cs-image">

                <div class="cs-contact-overlay">

                    <div class="cs-info-item">
                        <div class="icon-circle">
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="info-text">
                            <span class="label">Phone Number</span>
                            <span class="value">+(46) 8 410 521 00</span>
                        </div>
                    </div>

                    <div class="cs-info-item">
                        <div class="icon-circle">
                            <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="info-text">
                            <span class="label">Email Address</span>
                            <span class="value">info@corefitness.se</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>



        <div class="cs-form-container">
            <h2 class="cs-form-title">Contact Us Today</h2>
            <p class="cs-form-text">Ready to begin your fitness journey? Contact GymPro today and let our expert trainers guide you with the right program and support.</p>

            <form asp-action="Contact" asp-controller="Account" method="post" class="cs-actual-form">
                <div class="cs-form-row">
                    <div class="cs-input-group">
                        <label>First Name *</label>
                        <input asp-for = "FirstName" type="text" placeholder="Enter First Name" />
                        <span asp-validation-for="FirstName" class="text-danger" style="text-align: left; display: block; padding-left: 10px;" ></span>
                    </div>


                    <div class="cs-input-group">
                        <label>Last Name *</label>
                        <input asp-for= "LastName" type="text" placeholder="Enter Last Name" />
                        <span asp-validation-for="LastName" class="text-danger" style="text-align: left; display: block; padding-left: 10px;"></span>
                    </div>
                </div>

                <div class="cs-form-row">
                    <div class="cs-input-group">
                        <label>Email Address *</label>
                        <input asp-for="Email" type="email" placeholder="Enter Email Address" />
                        <span asp-validation-for="Email" class="text-danger" style="text-align: left; display: block; padding-left: 10px;"></span>
                    </div>

                    <div class="cs-input-group">
                        <label asp-for="PhoneNumber">Phone Number</label>
                        <input asp-for="PhoneNumber" type="text" placeholder="Enter Phone Number">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                   </div>
                </div>

                <div class="cs-input-group full-width">
                    <label>Message *</label>

                    <textarea asp-for="Message" placeholder="Message"></textarea>
                    

                    <span asp-validation-for ="Message" class="text-danger" style="text-align: left; display: block; padding-left: 10px;"></span>
                </div>

                <button type="submit" class="cs-submit-btn">
                    Submit Message <i class="fa-solid fa-chevron-right"></i>
                </button>
            </form>
        </div>


    </div>
</section>
