
<section class="faq-section-membership">

    <div class="faq-container-membership">

        <div class="photo-faq-left">
            <img src=" /images/faqs-image-fitness-man.svg" alt="Man Fitness" class="card-person-man-img" />


        </div>

        <div class="faq-accordion-membership">
            <span class="faq-badge">
                <span class="dot"></span>
                Frequently Asked Questions
            </span>
            <h2 class="faq-main-title">Common questions about gym and training</h2>

            <div class="accordion-container">
                <div class="accordion-item active">
                    <button class="accordion-header">
                        Q1. Do I need prior gym experience to Join CoreFitness?
                        <span class="arrow"></span>
                    </button>
                    <div class="accordion-content">
                        <p>No, GymPro is designed for all fitness levels. Our trainers guide beginners with proper techniques and structured workout plans to help them start safely and confidently.</p>
                        <ul>
                            <li>Every new member receives a personalized introduction to equipments</li>
                            <li>Workouts are designed to grow with you, ensuring beginners can start safely.</li>
                        </ul>
                    </div>
                </div>

                <div class="accordion-item">
                    <button class="accordion-header">
                        Q2. What facilities are included with the membership?
                        <span class="arrow"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Training with PT and group training</p>
                    </div>
                </div>


                <div class="accordion-item">
                    <button class="accordion-header">
                        Q3. Can i try the gym  before i taking a  Membership?
                        <span class="arrow"></span>
                    </button>
                    <div class="accordion-content">
                        <p>Yes, everybody can try the gym one week for free.</p>
                    </div>
                </div>


                <div class="accordion-item">
                    <button class="accordion-header">
                        Q4. Are there group workout programs availaable?
                        <span class="arrow"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Yes, everybody can try the gym for one week for free<br />
                            and includes groups workout too.
                        </p>
                    </div>
                </div>



                <div class="accordion-item">
                    <button class="accordion-header">
                        Q5. Is nustrition guidance includes in the plans.?
                        <span class="arrow"></span>
                    </button>
                    <div class="accordion-content">
                        <p>
                            Yes, first  month its for free, after this period<br />
                            its 50% less for 11 month for new clients.

                        </p>
                    </div>
                </div>




            </div>
        </div>


    </div>



</section>