
@{

}

<nav class="main-navbar" style="display: flex; justify-content: space-between; align-items: center;
 padding: 20px 50px; background-color: var(--bg-dark); border-bottom: 1px solid #333; ">


    <div class="logo-container" style="display: flex; align-items: center; gap: 10px;">
        <img src="~/images/logo.svg" alt="CoreFitness Logo" style="height: 40px; width: auto;" />


    </div>


    <ul style="display: flex; list-style: none; gap: 30px; margin: 0; padding: 0;">
        <li><a class="nav-link" asp-controller="Home" asp-action="Index">Fitness Centers</a></li>
        <li><a class="nav-link" asp-controller="Home" asp-action="Memberships">Memberships</a></li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">
                Training<i class="fa-solid fa-chevron-down"></i>
            </a>
            <ul class="custom-dropdown-menu">

                <ul class="custom-dropdown-menu">
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="PersonalTraining">Personal Training</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="GroupTraining">Group Training</a></li>
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Padel">Padel</a></li>

                </ul>
            </ul>

        </li>


        <li><a class="nav-link" asp-controller="Home" asp-action="CustomerService">Customer Service</a></li>


        <li><a class="nav-link" asp-controller="Home" asp-action="Store">Store</a></li>
    </ul>

    <div style="display: flex; align-items: center; gap: 20px;">
    </div>




    <div class="ms-auto">
        @if (User.Identity?.IsAuthenticated == true)
        {

            <a asp-controller="Account" asp-action="Index" class="nav-link-classes">
                Our Classes
            </a>


            <a asp-controller="Account" asp-action="Index" asp-area="" class="btn-gym">
                My Account <i class="fa-solid fa-chevron-right" style="transform: translateY(2px);"></i>
            </a>
        }
        else
        {

            <a href="/Identity/Account/Register" style="color: white; text-decoration: none; margin-right: 40px;"> Become Member </a>


            <a href="/Identity/Account/Login" class="btn-gym">
                Sign In
                <i class="fa-solid fa-chevron-right" style="transform: translateY(1.2px)"></i>
            </a>
        }
    </div>

</nav>
