
@{

}

<nav class="flex w-full items-center justify-between px-10 py-6 bg-black border-b border-opacity-130 border-[#5C510A] border-t-[0.5px]">

    <div class="flex items-center gap-2.5">
        <img src="~/images/logo.svg" alt="CoreFitness Logo" class="h-[60px] w-auto" />
    </div>

    


    <ul class="flex-1 flex list-none gap-x-8 justify-center items-center ml-10 m-5 text-lg">
        <li><a class="nav-link" asp-controller="Home" asp-action="Index">Fitness Centers</a></li>
        <li><a class="nav-link" asp-controller="Home" asp-action="Memberships">Memberships</a></li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#">
                Training<i class="fa-solid fa-chevron-down"></i>
            </a>
            <ul class="custom-dropdown-menu">

                <ul class="custom-dropdown-menu">

                    <li><a class="dropdown-item" asp-controller="Training" asp-action="Index" asp-route-category="Personal Training">Personal Training</a></li>
                    <li><a class="dropdown-item" asp-controller="Training" asp-action="Index" asp-route-category="Group Training">Group Training</a></li>
                    <li><a class="dropdown-item" asp-controller="Training" asp-action="Index" asp-route-category="Padel">Padel</a></li>
                </ul>
            </ul>

        </li>


        <li><a class="nav-link" asp-controller="Home" asp-action="CustomerService">Customer Service</a></li>


        <li>
            <li>
                <a asp-controller="Store" asp-action="Index" class="nav-link">
                    Store
                </a>
            </li>

            </li>

        @if (User.IsInRole("Admin"))
        {
            <li class= "nav-item">
                <a class= "nav-link" asp-controller = "Admin" asp-action = "CreateSession" style = "color: #adff2f; border: 1px solid #adff2f; padding: 5px 15px; border-radius: 20px; margin-left: 10px;" > Admin </a>
            </li>
        }


    </ul>

    <div style="display: flex; align-items: center; gap: 20px;">
    </div>




    <div class="ms-auto">
        @if (User.Identity?.IsAuthenticated == true)
        {

            <a asp-controller="Training" asp-action="Index" class="nav-link-classes">
                Our Classes
            </a>


            <a asp-controller="Account" asp-action="Index" asp-area="" class="btn-gym">
                My Account <i class="fa-solid fa-chevron-right" style="transform: translateY(2px);"></i>
            </a>



            
            <form asp-controller ="Account" asp-action="Logout" method="post" class="">
               
            </form>






        }
        else
        {

            <a href="/Identity/Account/Register" style="color: white; text-decoration: none; margin-right: 40px;"> Become Member </a>


            <a href="/Identity/Account/Login" class="btn-gym">
                Sign In
                <i class="fa-solid fa-chevron-right" style="transform: translateY(1.2px)"></i>
            </a>
        }
    </div>

</nav>