@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section class="hero-container">

    <div class="hero-content">

        <div class="status-badge">
            <span class="dot"></span>
            <span class="hero-subtitle">Strong Body, Strong Mind.</span>
        </div>

        <h1 class="hero-title">Build Strength Boost <br /> Confidence Today!</h1>
        <p class="hero-text">
            Begin your fitness journey with expert trainers, modern equipment, <br />
            and a supportive environment designed to help you build streangth and confidence.
        </p>

        <div class="hero-features-icons">
            <span>
                <img src="/images/pil-hero.svg" class="feature-icon" />
                Transform your body with training
            </span>

            <span>
                <img src="/images/pil-hero.svg" class="feature-icon" />
                Personal training for real results
            </span>

            <span>
                <img src="/images/pil-hero.svg" class="feature-icon" />
                Build confidence through fitness
            </span>


            <span>
                <img src="/images/pil-hero.svg" class="feature-icon" />
                Fitness tailored to your goals
            </span>
        </div>


        <hr class="separator-line">


        <div class="hero-getstarted-buttons">
            <a href="/" class="btn-gym-getstarted">Get Started<i class="fa-solid fa-chevron-right" style="transform: translateY(1px);"></i></a>
        </div>
    </div>
</section>