

<section class="logo-bar">
    <div class="logo-item">
        <img src="~/images/company-supports-logo-one.svg" alt="Support Logo" />

    </div>
    <div class="logo-item">
        <img src="~/images/company-supports-logo-two.svg" alt="Support Logo" />
    </div>

    <div class="logo-item">
        <img src="~/images/company-supports-logo-three.svg" alt="Support Logo" />
    </div>

    <div class="logo-item">
        <img src="~/images/company-supports-logo-four.svg" alt="Support Logo" />

    </div>

    <div class="logo-item">
        <img src="~/images/company-supports-logo-five.svg" alt="Support Logo" />
    </div>


    <div class="logo-item-accent">Modern Equipment</div>
</section>
