
<section class="membership-section">
    <div class="membership-container">
        <h2 class="membership-main-title">Our Membership Offers</h2>

        <div class="membership-grid">
            <div class="membership-card">
                <div class="card-body">
                    <div class="membership-icon-wrapper">
                        <img src="/images/icon-standard-membership.svg" alt="Icon">
                    </div>
                    <h3>Standard Membership</h3>
                    <p class="card-description">With the Standard Membership, get access to our full range of gym facilities.</p>
                    <ul class="membership-features">
                        <li>Standard Locker</li>
                        <li>High-energy group fitness classes</li>
                        <li>Motivating & supportive environment</li>
                    </ul>
                </div>
                <div class="membership-price-box">

                    <div class="price-info">
                        <span class="price-amount">495.00</span><span class="price-period">/monthly</span>
                        <p class="price-subtitle">* Monthly 20 Classes</p>

                    </div>

                    <form asp-controller="Account" asp-action="JoinMembership" method="post">
                        <input type="hidden" name="membershipId" value="1" />

                        <button type="submit" class="btn-lime-join">
                            Join Now <i class="arrow-icon-membership"></i>  
                        </button>

                    </form>

                    <p class="price-footer">Try Any Membership Fre for 1 Week</p>
                </div>
            </div>

            <div class="membership-card">
                <div class="card-body">
                    <div class="membership-icon-wrapper">
                        <img src="/images/icon-premium-membership.svg" alt="Icon">
                    </div>
                    <h3>Premium Membership</h3>
                    <p class="card-description">With the Premium Membership, get access to our full range of gym facilities.</p>
                    <ul class="membership-features">
                        <li>Priority Support & Premium Locker</li>
                        <li>High-energy group fitness classes</li>
                        <li>Motivating & supportive environment</li>
                    </ul>
                </div>
                <div class="membership-price-box">
                    <div class="price-info">
                        <span class="price-amount">595.00</span><span class="price-period">/monthly</span>
                        <p class="price-subtitle">* Monthly 20 Classes</p>
                    </div>

                    <form asp-controller="Account" asp-action="JoinMembership" method="post">
                        <input type="hidden" name="membershipId" value="2" />

                        <button type="submit" class="btn-lime-join">
                            Join Now <i class="arrow-icon-membership"></i>
                        </button>

                    </form>
                    



                    <p class="price-footer">Try Any Membership Fre for 1 Week</p>
                </div>
            </div>

            <div class="membership-card dark-card">
                <div class="dark-card-content">
                    <h4>Get Your Membership</h4>
                    <p class="info-mebership">Our memberships give you access to all equipment, personalized training.</p>
                    <div class="call-action">
                        <h5>Call Us At:+(46)8 410 500</h5>
                        <a href="tel:+46841052100" class="btn-lime-rounded">Call Us Today!<i class="arrow-icon-membership"></i></a>
                    </div>
                    <img src="/images/our-pricing-fitness-women.svg" alt="Fitness Woman" class="card-person-img">
                </div>
            </div>
        </div>

        <div class="membership-info-row">
            <span><i class="icon-calendar"></i> Get 30 day free trial</span>
            <span><i class="icon-payment"></i> No any hidden fees pay</span>
            <span><i class="icon-clock"></i> You can cancel anytime</span>
        </div>
    </div>
</section>
