@model AccountDetailsViewModel

<section class="my-account-section">

    <h1 class="myaccount-title">My Account</h1>

    <div class="account-container">



        <div class="account-sidebar">

            <div class="profile-card">
                <img id="profileImagePreview"
                     src="@(string.IsNullOrEmpty(Model.ProfileImageUrl) ? "/images/photo-profile-myaccount.svg" : Model.ProfileImageUrl)"
                     alt="Profile Image"
                     class="profile-img" />
            </div>

            <div class="menu-options">
                <div class="menu-header">Menu Options</div>
                <nav class="menu-list">
                    <a href="#" class="menu-item active">About Me <i class="fa-solid fa-chevron-right"></i></a>
                    <a href="#" class="menu-item">My Membership <i class="fa-solid fa-chevron-right"></i></a>
                    <a href="#" class="menu-item">My Bookings <i class="fa-solid fa-chevron-right"></i></a>


                    <a asp-controller="Home" asp-action="Logout" class="menu-item">
                        Sign Out <i class="fa-solid fa-chevron-right"></i>
                    </a>


                </nav>
            </div>



            <div class="remove-account">

                <p>If you like to cancel your account click below</p>

                <form asp-action="RemoveAccount" asp-controller="Account" method="post"
                      onsubmit="return confirm('Är du säker på att du vill ta bort ditt konto? Detta går inte att ångra.')">

                    <button type="submit" class="btn-remove">
                        Remove Account
                    </button>

                </form>
            </div>
        </div>



        <div class="account-main">
            <h1>About Me</h1>
            <form asp-action="Index" asp-controller="Account" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label>First Name</label>
                    <input asp-for="FirstName" type="text" placeholder="Enter First Name" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Last Name</label>
                    <input asp-for="LastName" type="text" placeholder="Enter Last Name" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>Email Address *</label>
                    <input asp-for="Email" type="email" placeholder=" Enter e-mail" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group border-bottom">
                    <label>Phone Number</label>
                    <input asp-for="PhoneNumber" type="tel" placeholder="Enter Phone Number" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group profile-upload">
                    <label>Profile Image</label>
                    <div class="upload-container">

                        <input asp-for="ProfileImage" type="file" id="fileInput" style="display:none"
                               onchange="document.getElementById('fileNameDisplay').value = this.files[0].name" />
                        <div class="button-browser">
                            <input type="text" id="fileNameDisplay" placeholder="Upload Profile Image" readonly />

                            <button type="button" class="btn-browse" onclick="document.getElementById('fileInput').click()">Browse</button>
                        </div>

                    </div>
                </div>

                <button type="submit" class="btn-save">Save <i class="fa-solid fa-chevron-right"></i></button>
            </form>
        </div>


    </div>
</section>