
<section class="programs-section">
    <div class="programs-container">
        <div class="programs-header text-center">
            <span class="badge-about-programs">
                <span class="dot"></span> Our Programs
            </span>
            <h2 class="section-title">Professional training program <br> for stronger health</h2>
        </div>

        <div class="programs-grid">
            <div class="programs-card">
                <img src="/images/programs-image-one.svg" alt="Battle ropes training">
            </div>

            <div class="programs-card">
                <img src="/images/programs-image-two.svg" alt="Gym Equipment" />
            </div>

            <div class="programs-card">
                <img src="/images/programs-image-three.svg" alt="Weightlifting" />
            </div>

        </div>
    </div>

    <div class="programs-footer text-center">
        <p>Let's make something great work together.<a href="#" style="margin-left: 5px;">Get Free Quote</a></p>
    </div>
</section>
